@inherits LayoutComponentBase

<div class="d-flex">
    <!-- Menú lateral personalizado -->
    <SideMenu />

    <!-- Contenido principal -->
    <div class="flex-grow-1" style="margin-left:250px;">
        <div class="top-row px-4 py-2 bg-light border-bottom shadow-sm">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4 pt-3">
            @Body
        </article>
    </div>
</div>
